* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1400px;
  display: block;
  margin: auto;
  min-height: 100vh;
  background-color: #191919;
  font-family: sans-serif;
}

.barraNavegacao {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  z-index: 9;
}

.grupo {
  list-style: none;
  display: flex;
}

.link a{
  color: #fff;
  opacity: 0.5;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 30px;
  margin: 0 20px;
  line-height: 80px;
  transition: .5s;
  font-size: 20px;
}

.link a:hover, .link.active a{
  opacity: 1;
}

.home-section {
  width: 100%;
  height: 100vh;
  padding: 0 150px;
  display: flex;
  align-items: center;
  position:fixed;
  top: 0;
  opacity: 0;
  transition: 1s;
}

.nome {
  color: #fff;
  font-size: 120px;
  text-transform: capitalize;
  font-weight: 300;
}

.foto {
  border-radius: 10%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  object-fit: cover;
  opacity: 0.2;
}

.home-section.active, .sobreMim.active, .projects.active, .contato.active{
  position: relative;
  opacity: 1;
  z-index: 8;
}

.sobreMim {
  width: 100%;
  min-height: 100vh;
  padding: 150px 100px 0;
  position: fixed;
  top: 0;
  opacity: 0;
}

.sobre {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 65%;
}

.sobreTexto {
  color: #fff;
  opacity: 0.6;
  font-size: 20px;
  line-height: 40px;
  text-align: justify;
  
}

.sobreImagem {
  position: relative;
}

.imagem {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0 30px 0 0;
}

.botao {
  color: #fff;
  font-size: 18px;
  transition: .5s;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: none;
  text-transform: capitalize;
  padding: 10px 20px;
  position: absolute;
  left: 45%;
  bottom: -50px;
  transform: translateX(-50%);
  border-radius: 20px;
}

.botao:hover {
  border: 1px solid white;
  background: #1a1a1a;
}

.projects {
  width: 100%;
  min-height: 100vh;
  padding: 150px 100px 100px;
  position: fixed;
  top: 0;
  opacity: 0;
}
.projetosTitulo {
  font-size: 100px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
  background-clip: text;
}

.projeto-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}

.projeto-card {
  height: 400px;
  position: relative;
}

.projeto-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: .5s;
}

.projeto-content{
  position: relative;
  padding: 40px;
  color: #fff;
  transition: .5s;
  opacity: 0;
}

.projeto-titulo{
  font-size: 50px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
}

.projeto-info{
  margin: 40px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.projeto-btn{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.projeto-btn-git{
  height: 40px;
  text-transform: capitalize;
  font-size: 18px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

.project-btn-live{
  background: none;
  border: 2px solid #fff;
  cursor: pointer;
  text-transform: capitalize;
  color: #fff;
  font-size: 18px;
}


.projeto-card:hover .projeto-img{
  filter: blur(20px);
}

.projeto-card:hover .projeto-content{
  opacity: 1;
}

.contato {
  position: absolute;
  top: 0;
  opacity: 0;
  padding: 100px 150px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.form-contato input, .form-contato textarea {
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  margin-bottom: 30px;
  border-radius: 5px;
  text-transform: capitalize;
  color: #fff;
  padding: 5px 10px;
}

::placeholder {
  color: #fff;
}

#msg {
  height: 280px;
  resize: none;
  font-family: sans-serif;
}

.botaoForm {
  background: #ff4f4f;
  color: #fff;
  text-transform: capitalize;
  padding: 15px 40px;
  display: block;
  margin: auto;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
